p{
    text-align:  center;
    font-family: Century Gothic;
    font-size: 800%;
    color: #f5e4e6;
    height: 30px;
}
input{
    border: none;
    width: 900px;
    padding: 15px;
    font-size: 45px;
    margin:0 25% 0 25%;
    width:50%;
}


ul{
    list-style: none;
}
    
